<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
</head>
<body>
    <section id="success">
        <div>
            <h1>Successfully Shortened Your URL!</h1>
            <h2>Copy Your New URL Here:</h2>
            <h3>https://www.ulsr.link{{ new_link }}</h3>
            <p>Previous URL: {{ old_link }}</p>
{#            <div>#}
{#                <button><a href="/">Return Home</a></button>#}
{#            </div>#}
        </div>
    </section>
</body>
</html>